<section>
  <h1>Правила</h1>
  <h3>Регистрация, аккаунт</h3>
  <p>
    1.1 Регистрируясь на проекте, вы подтверждаете свое согласие с данными правилами.
  </p>
  <p>
    1.2 Незнание правил не освобождает вас от ответственности.
  </p>
  <p>
    1.3 Администрация имеет право в любое время вносить изменения в данные правила.
  </p>
  <p>
    1.4 Администрация имеет право не возвращать игровые вещи, утраченные в результате багов, ошибок, сбоев, откатов и
    прочих случаев непреодолимой силы.
  </p>
  <p>1.5 При вайпе игрового сервера полностью обнуляются игровые аккаунты, удаляются постройки и предметы, в том числе
    купленные в онлайн-магазине.
  </p>
  <p>
    1.6 Владельцем аккаунта считается владелец привязанной электронной почты.
  </p>
  <p>
    1.7 Не допускается передача или продажа аккаунта третьим лицам.
  </p>
  <p>
    1.8 Вы обязаны хранить данные аккаунта в тайне. Безопасность аккаунта лежит полностью на Вас. Ответственость за
    действия, совершенные третьими лицами, лежит на вас.
  </p>
  <p>
    1.9 Администрация не возмещает ущерб, нанесенный пользователями, частично или полностью получившими доступ к
    Вашему аккаунту, приватам, игровым предметам и т.д.
  </p>
  <p>
    1.10 Администрация проекта оставляет за собой право в любой момент временно или постоянно ограничить Вам доступ к
    проекту за нарушения, не указанные в данном своде правил, если посчитает, что ваши действия нанесут вред игрокам
    и/или проекту.
  </p>
  <p>
    1.11 Правила действительны бессрочно, пока вы пользуетесь ресурсами проекта. Если вы не согласны с правилами, вам
    следует удалить игровой лаунчер и все компоненты игры, находящиеся на вашем компьютере.
  </p>
  <p>
    1.12 В исключительных случаях администрация имеет право самостоятельно устанавливать время наказания, которое
    будет отличаться от указанного в правилах.
  </p>
  <p>
    1.13 На каждом сервере присутствуют свои внутриигровые правила. За нарушение их Вы будете получать наказание.
  </p>
</section>
