<section>
  <app-header></app-header>
  @if (!authService.isAuth()){
    <div class="alt-auth">
      <button class="alt-auth_btn" (click)="authVisible = !authVisible">Авторизоваться</button>
      @if (authVisible){
        <app-sign-in></app-sign-in>
      }
    </div>
  }
  <app-user-card class="m-user"></app-user-card>
  <main>
    <div class="left">
      <router-outlet></router-outlet>
    </div>
    <div class="right">
      @if (!authService.isAuth()){
        <app-sign-in></app-sign-in>
      } @else {
        <app-user-card></app-user-card>
      }

      <app-monitoring></app-monitoring>
    </div>
  </main>
</section>

