<form [formGroup]="signUpForm" (submit)="submit()">
  <h1>Регистрация</h1>
  <div>
    <input type="text" placeholder="логин" formControlName="login">
    <span class="error">{{loginError()}}</span>
  </div>
  <div class="password">
    <input [type]="showPassword ? 'password': 'text'" placeholder="пароль" formControlName="password">
    <lucide-icon class="password-icon" (click)="showPassword = !showPassword" [name]="showPassword ? 'eye': 'eye-off'" [size]="24"></lucide-icon>
    <span class="error">{{passwordError()}}</span>
  </div>
  <div class="password">
    <input [type]="showPasswordReplay ? 'password': 'text'" placeholder="повторите пароль" formControlName="passwordReplay">
    <lucide-icon class="password-icon" (click)="showPasswordReplay = !showPasswordReplay" [name]="showPasswordReplay ? 'eye': 'eye-off'" [size]="24"></lucide-icon>
    <span class="error">{{passwordReplayError()}}</span>
  </div>

  <button [disabled]="!signUpForm.valid" type="submit">зарегестрироваться</button>

</form>
